In [1]:
import numpy as np
import numpy.random as random
import pandas as pd
import scipy as sp
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline

%precision 3

import sklearn
import requests, zipfile
import io

In [2]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
res = requests.get(url).content

adult = pd.read_csv(io.StringIO(res.decode('utf-8')),header=None)

adult.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'martial-status',
                 'occupation', 'relationship', 'race', 'sex', 'capital-gain',
                 'capital-loss', 'hours-per-week',
                 'native-country', 'fig-50K']

print('데이터 형태:{}'.format(adult.shape))
print('결측값 수:{}'.format(adult.isnull().sum().sum()))

adult.head()

데이터 형태:(32561, 15)
결측값 수:0

,age,workclass,fnlwgt,education,education-num,martial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,fig-50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
adult.groupby('fig-50K').size()

fig-50K
 <=50K    24720
 >50K      7841
dtype: int64

In [4]:
#fig-50K 컬럼 값이 >50K이면 1, 아니면 0인 fin_fig 변수 추가 생성
adult['fin_fig'] = adult['fig-50K'].map(lambda x: 1 if x ==' >50K' else 0)
adult.groupby('fin_fig').size()

fin_fig
0    24720
1     7841
dtype: int64

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult['fin_fig']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

model = LogisticRegression()
model.fit(X_train,y_train)

print('정확도(train):{:.3f}'.format(model.score(X_train, y_train)))
print('정확도(test):{:.3f}'.format(model.score(X_test, y_test)))

정확도(train):0.797
정확도(test):0.798

In [6]:
from sklearn.preprocessing import StandardScaler

X = adult[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']]
y = adult['fin_fig']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = LogisticRegression()
model.fit(X_train_std,y_train)

print('정확도(train):{:.3f}'.format(model.score(X_train_std, y_train)))
print('정확도(test):{:.3f}'.format(model.score(X_test_std, y_test)))

정확도(train):0.811
정확도(test):0.810

In [7]:
#정규화 항이 있는 회귀: 리지회귀, 라소회귀